html {
    height: 100%;
} 

body {
    background-image: linear-gradient(to bottom right, rgba(190, 0, 0, 0.6), rgb(230, 230, 230), rgb(0, 0, 124, 0.6)) ;
}

#background {
    background: aliceblue fixed center;
    height: 100%;
}